#tabla table {
    background-color: #FFF;
}

#tabla table tr th {
    font-size: 14px;
    color: #000;
    border: 1px solid #777;
    background: #DDF;
}

#tabla table tr td {
    font-family: "Times New Roman", Times, serif;
    font-style:italic;
    color: #333;
    border: 1px solid #777;
}

