#general #transaccional #principal #tabla
{
	height:350px;
	width:100%;
	overflow:auto;
}

#general #transaccional #principal #tabla table tr th {
	font-size: 14px;
	color: #000;
	border: 1px solid #777;
	background: #DDF;
}
#general #transaccional #principal #tabla table tr td {
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	font-size: 10px;
	color: #333;
	border: 1px solid #777;
}
#general #transaccional #principal #tabla table tr td h1 {
	font-size: 10px;
	margin: 2px;
	text-align:center;
}
#general #transaccional #principal #tabla table tr td p{
	margin: 2px;
}

